doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pride Flag Typers
        link(rel="stylesheet", href="index.scss")
    body
        main 
            h1 Pride Flag Typers
            input#input(type=text placeholder="Insert letters")
            br
            svg#output
        

        footer 
            include:markdown-it:get-thanks-to ../README.md

        
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js")
        script(src="flags.js")
        script(src="index.js")